body {
  background: #F5F8FA;
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings label,
.settings label :last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.settings .bp3-label {
  width: 50px;
}

.image-input {
  text-align: left;
}

.divider {
  margin: 20px 0;
}
